<h1 class="about">About Page</h1>
<p class="aboutpara">This is a crud app where you can add the latest videos of cool things to share with you friends.</p>
<div style="width:100%;height:0;padding-bottom:88%;position:relative;"><iframe src="https://giphy.com/embed/l0HlScP4Pl31ADK8M" width="20%" height="20%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/cheezburger-puppy-tickles-l0HlScP4Pl31ADK8M">via GIPHY</a></p>

