<div class="jumbotron text-center" id="jumb">
    <h1 class="display-3">{{title}}</h1>
    <p class='lead'>Add Your Coolest Favorite Videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add A Cool Video</a>
</div>
