.whole{
    background-image: url('camera.jpg');
    background-size: cover;
}

.navyo{
    background-color: brown !Important;
    
}
 #jumb{
     opacity: 0.6;
 }

 .about{
     color: white;
 }

 .aboutpara{
     color: white;
 }
